.infoBloсk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 98px 64px;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #121417;
}

.titleSpan {
  color: #111;
  background: #fbe9ba;
  border-radius: 8px;
  font-style: italic;
  font-weight: 400;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  color: #121417;
  margin-top: 32px;
  margin-bottom: 64px;
}

.linkBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  width: 267px;
  height: 60px;
  border-radius: 12px;
  padding: 16px 80px;
  background: #f4c550;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #121417;
}
