.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #121417;
    margin-bottom: 20px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: rgba(18, 20, 23, 0.8);
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input {
    width: 100%;
    padding: 16px 18px;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    outline: none;
    background: transparent;

    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: #121417;
}

.input:hover,
.input:focus {
    border-color: #f4c550;
}

.inputError {
    border-color: red;
}

.error {
    font-size: 10px;
    color: red;
   margin-top: 2px;
}

.submitBtn {
    margin-top: 40px;
    padding: 16px;
    border-radius: 12px;
    border: none;
    background: #f4c550;

    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #121417;

    cursor: pointer;
}

.switchText {
    margin-top: 10px;
    font-size: 14px;
}